
/* Layout for entire webpage */
html.layout {
	background-image: url(img2_bw.png);
	background-position: none; /*Only one image so we do not need to define a position*/
	background-repeat: repeat;
	background-size: 1500px;
	margin-right:160px;
	margin-left:160px;
	padding: 0px;
	width: 1200px;
	height: auto;
	font-family: Georgia, Times;
}
/* End of Layout for entire webpage */

/* Begin Title Head */

h3#title_head {
	background-color: #334;
	margin-top: 0px;
	margin-right: 0px;
	padding: 0px;
	font-size: 50px;
	margin-bottom: 0px;
	color: gold;
	height: 100px;
	text-align: right;
	padding-top:50px;
	padding-right: 50px;
	border-left: black 4px solid;

}


/*To create our vertical navigation bar we must use floating or inline list items*/
ul#navbar {
	list-style-type: none; /*removes the bullets*/
	margin-top: 0px;
	padding: 0px;
	/*removes defaults set by web browser*/
	background-color: #333;
	/*We add the background color to 'ul' to keep nav bar color with no breaks*/
	overflow: hidden;
	/*below are css attributes to have our navbar fixed at the top*/
	position: relative;
	width: 1200px;
	text-align: center;/*Centers text*/
	border: solid 4px;
	height: 30px;

}


li {
	display: inline; /* This will make our nav bar horizontal*/
}

li a {
	font-size: 20px;
	color: white;
	padding: 14px 60px;
	text-decoration: none; /*removes underline for 'li'*/
}

li.active {
	background-color: #4CAF50;
}

li a:hover {
	background-color: #111;
	/*background color of nav with mouse over will change color*/
}
/* Begin Body Desription of containers */

div.containers {
	width: 1200px;
	height: 300px;
	text-align: center;
	background-color: white;
	font-size: 40px;
	font-style: italic;
	border: 5px solid;
	margin: 0px;
}

	/*Begin Service Thumbnails */
	div.services_container {
	width: 1200px;
	height: 700px;
	background-color: #333;
	opacity: .8;
	font-size: 40px;
	font-style: italic;
	border: 5px solid gold;
	margin: 0px;
	padding: auto;
	color: white;
	margin-top: 10px;
	}
	div.square {
		border: 4px white groove;
		width: 300px;
		height: 300px;
		float: left;
		margin: 20px;
		margin-left: 55px;
	}
footer {
	position: static;
	width: 1200px; 
	height: 40px; 
	padding: 0;
	overflow: hidden;
	background-color: #333;
	text-align: center;
	border: groove white;
	margin-top: 1000px; 
	margin-bottom: 0px;
	color: white;/*Colors text within our footer section*/
}





